---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mautrix-discord
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      mautrix-discord:
        labels:
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          labels:
            app.kubernetes.io/component: matrix-bridge
        initContainers:
          init-db:
            image:
              repository: ghcr.io/liana64/postgres-init
              tag: 16
            env:
              - name: INIT_POSTGRES_SUPER_PASS
                valueFrom:
                  secretKeyRef:
                    name: cloudnative-pg-secret
                    key: password
            envFrom:
              - secretRef:
                  name: mautrix-discord-db-secret
        containers:
          app:
            image:
              repository: ghcr.io/liana64/mautrix-discord
              tag: rolling@sha256:4a550cc077f2e4cbad55dddc0911ede9bafe95d295cb9c137c1146f6064e24b6
            env:
              CONFIG_FILE: "/data/config.yaml"
              REGISTRATION_FILE: "/data/registration.yaml"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1337
        runAsGroup: 1337
        fsGroup: 1337
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 8000
    ingress:
      app:
        className: traefik-external
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_EXTERNAL_DOMAIN}"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "networking-traefik-middleware-chain-synapse@kubernetescrd"
        hosts:
          - host: &host "mautrix-discord.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: mautrix-discord-tls
            hosts: [*host]
    persistence:
      config:
        type: secret
        name: mautrix-discord-secret
        globalMounts:
          - path: /data/config.yaml
            subPath: config.yaml
            readOnly: true
          - path: /data/registration.yaml
            subPath: registration.yaml
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          mautrix-discord:
            app:
              - path: /tmp
                subPath: tmp
