---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app playwright
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      playwright:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/browserless/chrome
              tag: v2.38.2@sha256:7c206dfaca4781bb477c6495ff2b5477a932c07a79fd7504bab3cf149e3e4be4
            env:
              #PLAYWRIGHT_DRIVER_URL: ws://playwright.home.svc.cluster.local:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123
              #PORT: &port 5000
              USE_X_SETTINGS: 1
              DATA_DIR: /config/
              ALLOW_GET: true
              SCREEN_WIDTH: 1920
              SCREEN_HEIGHT: 1080
              SCREEN_DEPTH: 24
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
    #                add:
    #                  - SYS_ADMIN
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    #    ingress:
    #      app:
    #        className: traefik
    #        annotations:
    #          cert-manager.io/cluster-issuer: "letsencrypt-production"
    #          gethomepage.dev/enabled: "true"
    #          gethomepage.dev/group: Home
    #          gethomepage.dev/name: Playwright
    #          gethomepage.dev/description: Chrome browser
    #          gethomepage.dev/icon: chrome
    #        hosts:
    #          - host: &host "playwright.${SECRET_INTERNAL_DOMAIN}"
    #            paths:
    #              - path: /
    #                service:
    #                  identifier: app
    #                  port: http
    #        tls:
    #          - hosts:
    #              - *host
    #            secretName: playwright-tls
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: &port 3000
    persistence:
      config:
        storageClass: nvme-fast
        accessMode: ReadWriteOnce
        size: 512Mi
        retain: true
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      #      dev-shm:
      #        type: emptyDir
      #        medium: Memory
      #        sizeLimit: 1Gi
      #        globalMounts:
      #          - path: /dev/shm
      var-run:
        type: emptyDir
        globalMounts:
          - path: /var/run
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
