---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: default-deny-ingress-default
  namespace: default
spec:
  endpointSelector: {}
  ingress:
    - fromEntities:
        - cluster
        - health
    - fromEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
