---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app meshtastic
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      meshtastic:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            fsGroup: 101
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/meshtastic/web
              tag: nightly
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
    service:
      app:
        controller: meshtastic
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/name: Meshtastic
          gethomepage.dev/description: Meshtastic UI
          gethomepage.dev/icon: meshtastic
        hosts:
          - host: &host "meshtastic.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: meshtastic-tls
            hosts: [*host]
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /var/cache/nginx/
      log:
        type: emptyDir
        globalMounts:
          - path: /var/log/nginx/
      tmp:
        type: emptyDir
        globalMounts:
          - path: /var/lib/nginx/tmp/
      sys-tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      run:
        type: emptyDir
        globalMounts:
          - path: /run
