---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-1
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.0-30
  primaryUpdateStrategy: unsupervised
  storage:
    size: 128Gi
    storageClass: nvme-fast
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "512"
      shared_buffers: 256MB
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      memory: 2Gi
  monitoring:
    enablePodMonitor: true
#  extensions:
#    - name: vector
