---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app mautrix-signal
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: mautrix-signal-secret
    template:
      engineVersion: v2
      data:
        MAUTRIX_SIGNAL_POSTGRES_DB: "{{ .MAUTRIX_SIGNAL_POSTGRES_DB }}"
        MAUTRIX_SIGNAL_POSTGRES_USER: "{{ .MAUTRIX_SIGNAL_POSTGRES_USER }}"
        MAUTRIX_SIGNAL_POSTGRES_PASSWORD: "{{ .MAUTRIX_SIGNAL_POSTGRES_PASSWORD }}"
      templateFrom:
        - configMap:
            name: "mautrix-signal-configmap"
            items:
              - key: config.yaml
        - configMap:
            name: "mautrix-signal-configmap"
            items:
              - key: registration.yaml
  data:
    - secretKey: MAUTRIX_SIGNAL_POSTGRES_USER
      remoteRef:
        key: "c212b730-d156-4f26-87e7-b3d5010758ad"
    - secretKey: MAUTRIX_SIGNAL_POSTGRES_PASSWORD
      remoteRef:
        key: "b08aad40-3302-43c0-84de-b3d50107675c"
    - secretKey: MAUTRIX_SIGNAL_POSTGRES_DB
      remoteRef:
        key: "09ed4f39-98bd-455b-9e43-b3d501076fb3"
    - secretKey: SIGNAL_AS_TOKEN
      remoteRef:
        key: "9e8077af-644a-4226-8f4a-b3d501077a8c"
    - secretKey: SIGNAL_HS_TOKEN
      remoteRef:
        key: "94733e88-5f8c-42b1-a3ce-b3d501078626"
    - secretKey: SIGNAL_SENDER_LOCAL_PART
      remoteRef:
        key: "59ca4aac-0336-44b3-ad32-b3d501079a83"
