---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mautrix-signal
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      mautrix-signal:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          labels:
            app.kubernetes.io/component: matrix-bridge
        initContainers:
          init-db:
            image:
              repository: ghcr.io/liana64/postgres-init
              tag: 16
            env:
              - name: INIT_POSTGRES_HOST
                value: "postgres-1-rw.database.svc.cluster.local"
              - name: INIT_POSTGRES_SUPER_PASS
                valueFrom:
                  secretKeyRef:
                    name: cloudnative-pg-secret
                    key: password
              - name: INIT_POSTGRES_DBNAME
                valueFrom:
                  secretKeyRef:
                    name: mautrix-signal-secret
                    key: MAUTRIX_SIGNAL_POSTGRES_DB
              - name: INIT_POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: mautrix-signal-secret
                    key: MAUTRIX_SIGNAL_POSTGRES_USER
              - name: INIT_POSTGRES_PASS
                valueFrom:
                  secretKeyRef:
                    name: mautrix-signal-secret
                    key: MAUTRIX_SIGNAL_POSTGRES_PASSWORD
        containers:
          app:
            image:
              repository: ghcr.io/liana64/mautrix-signal
              tag: rolling@sha256:029955ab4dc1ceee5dd6c8aa87302f4efe4ce2ed63949a4c6cd407e8bd3976bf
            env:
              CONFIG_FILE: "/data/config.yaml"
              REGISTRATION_FILE: "/data/registration.yaml"

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1337
        runAsGroup: 1337
        fsGroup: 1337
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 8000

    ingress:
      app:
        className: traefik-external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_EXTERNAL_DOMAIN}"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "networking-traefik-middleware-chain-synapse@kubernetescrd"
        hosts:
          - host: &host "mautrix-signal.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: mautrix-signal-tls
            hosts: [*host]

    persistence:
      config:
        type: secret
        name: mautrix-signal-secret
        globalMounts:
          - path: /data/config.yaml
            subPath: config.yaml
            readOnly: true
          - path: /data/registration.yaml
            subPath: registration.yaml
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          mautrix-signal:
            app:
              - path: /tmp
                subPath: tmp
