---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controllers:
      jellyfin:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          #runtimeClassName: nvidia
          terminationGracePeriodSeconds: 1
          #nodeSelector:
          #  feature.node.kubernetes.io/pci-10de.present: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            #fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            #supplementalGroups:
            #  - 3005

        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.2@sha256:749972be6e7d440a47531ee36c9e38ea7a6271c875f42e8a52851c39862b0773
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_PublishedServerUrl: "{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
                #nvidia.com/gpu: 1
              limits:
                cpu: "8"
                memory: 4Gi
                #nvidia.com/gpu: 1

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8096

    ingress:
      app:
        className: traefik-external
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_EXTERNAL_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/description: Media server
          gethomepage.dev/icon: jellyfin
          #gethomepage.dev/widget.type: "jellyfin"
          #gethomepage.dev/widget.key: "${HOMEPAGE_VAR_JELLYFIN_API_KEY}"
          #gethomepage.dev/widget.url: &host "{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: jellyfin-tls
            hosts: [*host]

    persistence:
      config:
        storageClass: cluster-nvme
        accessMode: ReadWriteOnce
        size: 4Gi
        retain: true
        globalMounts:
          - path: /config
      media:
        enabled: true
        existingClaim: qbittorrent-media
        advancedMounts:
          jellyfin:
            app:
              - path: /media
      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /transcode
                subPath: transcode
