# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sec-tools
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      sec-tools:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/liana64/sec-tools
              tag: rolling@sha256:ad7eb0b90dcf94eb0cbb05a1fe7b8e064468455d0b8f5f185adf6010bfdbe1c4
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
                add:
                  - NET_RAW
              readOnlyRootFilesystem: true
    persistence:
      data:
        storageClass: cluster-nvme
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
      home-cache:
        type: emptyDir
        globalMounts:
          - path: /home/ln/.cache
      home-local:
        type: emptyDir
        globalMounts:
          - path: /home/ln/.local
