{{ ansible_managed | comment }}
[Interface]
Address    = {{ wg_address }}
ListenPort = {{ wg_listen_port }}
PrivateKey = {{ wg_private_key }}

[Peer]
# OPNsense at home
PublicKey  = {{ wg_peer_public_key }}
{% if wg_preshared_key | default('') | length > 0 %}
PresharedKey = {{ wg_preshared_key }}
{% endif %}
Endpoint   = {{ wg_peer_endpoint }}
AllowedIPs = {{ wg_peer_allowed_ips | join(', ') }}
PersistentKeepalive = {{ wg_peer_persistent_keepalive }}
