##
## BPF Masquerade should be enabled for use with Talos and host DNS (`machine.features.hostDNS.forwardKubeDNSToHost`)
## CNI exclusivity should be false and endpoint routes enabled for use with Istio
##
## Sizing the client rate limit (`k8sClientRateLimit.qps` and `k8sClientRateLimit.burst`) is important when using L2 announcements due to increased API usage
## See: https://docs.cilium.io/en/latest/network/l2-announcements/#sizing-client-rate-limit
##
#############

---
autoDirectNodeRoutes: true
bpf:
  masquerade: true
  datapathMode: netkit
  preallocateMaps: true
  #tproxy: true
  tproxy: false
  #masquerade: false # Required for Talos `.machine.features.hostDNS.forwardKubeDNSToHost`
  #https://github.com/siderolabs/talos/issues/10002#issuecomment-2573907377
bpfClockProbe: true
dnsProxy:
  enableTransparentMode: false
bgpControlPlane:
  enabled: true
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cluster:
  id: 1
  name: milberry
cni:
  exclusive: false
enableIPv4BIGTCP: true
dashboards:
  enabled: true
endpointRoutes:
  enabled: true
envoy:
  enabled: false
hubble:
  enabled: false
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: 10.244.0.0/16
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
k8sClientRateLimit:
  qps: 50
  burst: 200
#bgpControlPlane:
#  enabled: true
l2announcements:
  enabled: true
loadBalancer:
  algorithm: maglev
  mode: snat
localRedirectPolicies:
  enabled: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
operator:
  dashboards:
    enabled: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  replicas: 1
  rollOutPods: true
rollOutCiliumPods: true
routingMode: native
pmtuDiscovery:
  enabled: true
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
socketLB:
  enabled: true
  hostNamespaceOnly: true
l7Proxy: true
