---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app element
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      element:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/element-hq/element-web
              tag: v1.12.7@sha256:e037ff690f6da8d6ad518c7a0c10787bb8be7feca16402a2d90c21300c7affbf
            env:
              TZ: ${TIMEZONE}
            #            securityContext:
            #              allowPrivilegeEscalation: false
            #              readOnlyRootFilesystem: true
            #              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 80
    ingress:
      app:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "networking-traefik-middleware-chain-synapse@kubernetescrd"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: Element
          gethomepage.dev/description: Matrix client
          gethomepage.dev/icon: element
        hosts:
          - host: &host "element.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: matrix-element-tls
            hosts: [*host]
    persistence:
      config:
        enabled: true
        type: configMap
        name: element-configmap
        globalMounts:
          - path: /app/config.json
            subPath: config.json
