---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mautrix-twitter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      mautrix-twitter:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          labels:
            app.kubernetes.io/component: matrix-bridge
        initContainers:
          init-db:
            image:
              repository: ghcr.io/liana64/postgres-init
              tag: 16
            env:
              - name: INIT_POSTGRES_SUPER_PASS
                valueFrom:
                  secretKeyRef:
                    name: cloudnative-pg-secret
                    key: password
            envFrom:
              - secretRef:
                  name: mautrix-twitter-db-secret
        containers:
          app:
            image:
              repository: ghcr.io/liana64/mautrix-twitter
              tag: rolling@sha256:80a4b9dfb703a07130e78b1f4a50a0702cc70fa8bb80fc8e3804c1a0dc3691bd
            env:
              CONFIG_FILE: "/data/config.yaml"
              REGISTRATION_FILE: "/data/registration.yaml"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1337
        runAsGroup: 1337
        fsGroup: 1337
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 8000

    ingress:
      app:
        className: traefik-external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_EXTERNAL_DOMAIN}"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "networking-traefik-middleware-chain-synapse@kubernetescrd"
        hosts:
          - host: &host "mautrix-twitter.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: mautrix-twitter-tls
            hosts: [*host]

    persistence:
      config:
        type: secret
        name: mautrix-twitter-secret
        globalMounts:
          - path: /data/config.yaml
            subPath: config.yaml
            readOnly: true
          - path: /data/registration.yaml
            subPath: registration.yaml
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          mautrix-twitter:
            app:
              - path: /tmp
                subPath: tmp
