---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: external-dns-secret
    creationPolicy: Owner
    template:
      data:
        CF_API_TOKEN: "{{ .CLOUDFLARE_API_KEY }}"
        CF_ZONE_ID: "{{ .CLOUDFLARE_ZONE_ID }}"
  data:
    - secretKey: CLOUDFLARE_API_KEY
      remoteRef:
        key: "1cf0ff2b-9b45-482a-b0b3-b3c7000bdaf1"
    - secretKey: CLOUDFLARE_ZONE_ID
      remoteRef:
        key: "503a3070-5937-4666-9c8d-b3c7010bdef1"
