---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    configMaps:
      config:
        data:
          mosquitto.conf: |
            allow_anonymous true
            autosave_interval 60
            connection_messages false
            listener 1883
            per_listener_settings false
            persistence true
            persistence_location /config
    controllers:
      mosquitto:
        pod:
          securityContext:
            fsGroup: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            runAsUser: 2000
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 8m
                memory: 16Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      mosquitto:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${LB_MOSQUITTO}"
        externalTrafficPolicy: Local
        ports:
          mqtt:
            port: 1883
    persistence:
      config:
        storageClass: cluster-nvme
        accessMode: ReadWriteOnce
        size: 512Mi
        globalMounts:
          - path: /config
      config-file:
        type: configMap
        identifier: config
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
