---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app synapse-admin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      synapse-admin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/etkecc/synapse-admin
              tag: v0.11.1-etke50@sha256:7e5642dc9dbb50a6aca7a520a141f54f93d0566f13b2887c207fd49791df0c63
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        ports:
          http:
            port: 80
    ingress:
      app:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Overview
          gethomepage.dev/name: Matrix Admin
          gethomepage.dev/description: Manage Synapse
          gethomepage.dev/icon: matrix-synapse
        hosts:
          - host: &host "matrix-admin.${SECRET_EXTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: matrix-synapse-admin-tls
            hosts: [*host]
    persistence:
      config:
        enabled: true
        type: configMap
        name: synapse-admin-configmap
        globalMounts:
          - path: /app/config.json
            subPath: config.json
