[defaults]
inventory             = hosts.yml
roles_path            = roles
collections_path      = .ansible/collections
host_key_checking     = False
retry_files_enabled   = False
stdout_callback       = default
callback_result_format = yaml
vars_plugins_enabled  = host_group_vars,community.sops.sops
forks                 = 5

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
