---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      syncthing:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/syncthing/syncthing
              tag: 2.0.10@sha256:3faeb52baa7de3fbe7007cecc6829a4bc71cc6ac62d3967459a8228979c38943
            env:
              PGID: 1000
              PUID: 1000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /rest/noauth/health
                    port: &port 8384
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: syncthing
        primary: true
        ports:
          http:
            port: *port
            primary: true
      sync:
        controller: syncthing
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${LB_SYNCTHING}"
        externalTrafficPolicy: Local
        ports:
          listen-tcp:
            port: 22000
            protocol: TCP
          listen-udp:
            port: 22000
            protocol: UDP
          discovery:
            port: 21027
            protocol: UDP
    ingress:
      app:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Syncthing
          gethomepage.dev/description: File sync
          gethomepage.dev/icon: syncthing
        hosts:
          - host: &host "syncthing.${SECRET_INTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: syncthing-tls
    persistence:
      # TODO: volsync
      data:
        storageClass: nvme-fast
        accessMode: ReadWriteOnce
        size: 800Gi
        retain: true
        globalMounts:
          - path: /var/syncthing
