---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
spec:
  chartRef:
    kind: OCIRepository
    name: kyverno
    namespace: flux-system
  interval: 1h
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 5m
  values:
    crds:
      install: true
    grafana:
      enabled: true
      annotations:
        grafana_folder: Infrastructure
    global:
      image:
        registry: ghcr.io
    policyReportsCleanup:
      image:
        registry: registry.k8s.io
        repository: kubectl
    webhooksCleanup:
      image:
        registry: registry.k8s.io
        repository: kubectl
    backgroundController:
      serviceMonitor:
        enabled: true
      metricsService:
        create: true
        type: ClusterIP
        port: 8000
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 192Mi
    cleanupController:
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          memory: 128Mi
    reportsController:
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi
    admissionController:
      replicas: 1
      serviceMonitor:
        enabled: true
      metricsService:
        create: true
        type: ClusterIP
        port: 8000
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - delete
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: kyverno
              app.kubernetes.io/component: kyverno
      container:
        resources:
          requests:
            cpu: 500m
            memory: 384Mi
          limits:
            memory: 512Mi
      webhookTimeout: 15
    features:
      admissionReports:
        enabled: true
      aggregateReports:
        enabled: true
      #policyExceptions:
      #  enabled: true
      #  namespace: kyverno
