---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      homepage:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: homepage-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 15m
                memory: 64Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000
    ingress:
      app:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "networking-traefik-middleware-chain-no-auth@kubernetescrd"
        hosts:
          - host: &host "${SECRET_INTERNAL_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: homepage-tls
            hosts: [*host]
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: docker.yaml
            path: /app/config/docker.yaml
            readOnly: true
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
            readOnly: true
          - subPath: services.yaml
            path: /app/config/services.yaml
            readOnly: true
          - subPath: settings.yaml
            path: /app/config/settings.yaml
            readOnly: true
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
            readOnly: true
      #      images:
      #        enabled: true
      #        type: nfs
      #        server: ${NFS_HOST}
      #        path: ${NFS_PATH}/k8s/homepage/images
      #        globalMounts:
      #          - subPath: greenbg.png
      #            path: /app/public/images/greenbg.png
      #            readOnly: true
      #          - subPath: vines.png
      #            path: /app/public/images/vines.png
      #            readOnly: true
      #      icons:
      #        enabled: true
      #        type: nfs
      #        server: ${NFS_HOST}
      #        path: ${NFS_PATH}/k8s/homepage/icons
      #        globalMounts:
      #          - subPath: atuin.png
      #            path: /app/public/icons/atuin.png
      #            readOnly: true
      #          - subPath: plane.png
      #            path: /app/public/icons/plane.png
      #            readOnly: true
      bookmarks:
        type: secret
        name: homepage-secret
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
            readOnly: true
    serviceAccount:
      homepage: {}
